<div *ngIf="expert" routerLink="/expert/{{expert.id}}" class="row">
  <div class="d-flex col-12">
    <div>
      <img src="{{expert.picture}}" class="img-round author-img mx-auto" alt="Profile">
    </div>
    <div class="ml-3">
      <div>
        <span class="expert-name">{{expert.name}}</span>
      </div>
      <div>
        <app-expert-rating *ngIf="expert.rating && expert.reviews" [rating]="expert.rating"
                           [reviews]="expert.reviews"></app-expert-rating>
      </div>
    </div>
  </div>
  <div class="col-12 mt-2 expert-bio">
    {{expert.shortBio}}
  </div>
</div>
