<ng-container *ngIf="!authService.isLoggedIn">
  <nav class="navbar fixed-top bg-white navbar-light navbar-expand-lg">
    <a class="navbar-brand clickable" routerLink=""><img src="assets/img/N1CE logo svg-01.svg" alt="..." class="brand-logo"></a>
    <button class="navbar-toggler hidden-sm-up" type="button" (click)="isMenuCollapsed = !isMenuCollapsed"
            data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span class="n1ce-spacer d-none d-lg-block"></span>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link clickable" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link clickable" routerLink="explore" routerLinkActive="active">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link clickable" routerLink="blog" routerLinkActive="active">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link clickable" routerLink="our-experts" routerLinkActive="active">Our Experts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link clickable" routerLink="sign-up" routerLinkActive="active">Sign Up</a>
        </li>
      </ul>
      <button *ngIf="connectedAccount && n1ceBalance" type="button" class="btn btn-n1ce btn-oval"
              (click)="disconnectWallet()">
        <fa-icon [icon]="['fas', 'wallet']" class="mr-1"></fa-icon>
        {{connectedAccount}} | {{n1ceBalance}} N1CE
      </button>
      <button *ngIf="!connectedAccount" type="button" class="btn btn-n1ce btn-oval" (click)="connectWallet()">
        Connect Wallet
      </button>
    </div>
  </nav>
</ng-container>
<ng-container *ngIf="authService.isLoggedIn">
  <nav class="navbar fixed-top bg-white navbar-light navbar-expand-lg">
    <a class="navbar-brand clickable" routerLink=""><img src="assets/img/N1CE logo svg-01.svg" alt="..." class="brand-logo"></a>
    <button class="navbar-toggler hidden-sm-up" type="button" (click)="isMenuCollapsed = !isMenuCollapsed"
            data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div ngbDropdown class="d-lg-none ml-3" display="dynamic" placement="bottom-right">
      <img src="{{authService.loggedUser.picture}}" id="profilePic" ngbDropdownToggle
           class="img-round author-img mx-auto clickable" alt="Profile">
      <div ngbDropdownMenu aria-labelledby="profilePic">
        <button class="clickable" ngbDropdownItem routerLink="admin/profile">Profile</button>
        <button ngbDropdownItem (click)="signOut()">Sign Out</button>
      </div>
    </div>
    <span class="n1ce-spacer d-none d-lg-block"></span>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link clickable" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link clickable" routerLink="explore" routerLinkActive="active">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link clickable" routerLink="blog" routerLinkActive="active">Blog</a>
        </li>
        <li class="nav-item">
          <div class="overlay-container">
            <div class="overlay-content top-left">
              <a class="nav-link clickable" routerLink="message-center" routerLinkActive="active">Messages</a>
            </div>
            <span class="badge badge-pill badge-danger clickable overlay-content bottom-right">1</span>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link clickable" routerLink="admin" routerLinkActive="active">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link clickable" routerLink="our-experts" routerLinkActive="active">Our Experts</a>
        </li>
      </ul>
      <button *ngIf="connectedAccount && n1ceBalance" type="button" class="btn btn-n1ce btn-oval"
              (click)="disconnectWallet()">
        <fa-icon [icon]="['fas', 'wallet']" class="mr-1"></fa-icon>
        {{connectedAccount}} | {{n1ceBalance}} N1CE
      </button>
      <button *ngIf="!connectedAccount" type="button" class="btn btn-n1ce btn-oval" (click)="connectWallet()">
        Connect Wallet
      </button>
      <div ngbDropdown class="ml-3 d-none d-lg-block" display="dynamic" placement="bottom-right">
        <img src="{{authService.loggedUser.picture}}" id="profilePic" ngbDropdownToggle
             class="img-round author-img mx-auto clickable" alt="Profile">
        <div ngbDropdownMenu aria-labelledby="profilePic">
          <button class="clickable" ngbDropdownItem routerLink="admin/profile">Profile</button>
          <button ngbDropdownItem (click)="signOut()">Sign Out</button>
        </div>
      </div>
    </div>
  </nav>
</ng-container>
