.n1ce-spacer {
  flex: 100;
}

.navbar {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.161);
}

img.brand-logo{
  width: 128px;
  height: 70px;
  object-fit: none;
}

.navbar .nav-link {
  color: rgba(62,62,62,1);
  font-size: 18px;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar .nav-link:hover, .navbar .nav-link.active{
  color: #009688;
}

a.navbar-brand {
  margin-left: 140px;
}

@media screen and (max-width: 991px) {
  img.brand-logo{
    height: 50px;
  }

  a.navbar-brand {
    margin: 0 auto;
  }
}
