<ng-container *ngIf="article">
  <h1>{{article.title}}</h1>
  <div class="row">
    <div class="col-lg-9"><img src="{{article.featuredImg}}" alt="{{article.title}}" class="article-featured"/></div>
    <div class="col-lg-3">
      <app-author-box *ngIf="article.expert" [expert]="article.expert"></app-author-box>
    </div>
  </div>
  <div class="row">
    <div class="col-12 p-4 text-justify whitespace-preline">
      <p>
        {{article.content}}
      </p>
    </div>
  </div>
</ng-container>
