<div class="row">
  <div class="col-lg-9">
    <app-blog-post-in-evidence
      *ngIf="inEvidenceCategory && inEvidenceCategory.articles && inEvidenceCategory.articles[0]"
      [articleId]="inEvidenceCategory.articles[0]"></app-blog-post-in-evidence>
    <app-blog-category [category]="inEvidenceCategory"></app-blog-category>
  </div>
  <div class="col-lg-3">
    <app-blog-side-banner></app-blog-side-banner>
  </div>
</div>
<div class="row" *ngFor="let category of categories">
  <div class="col-12">
    <app-blog-category [category]="category"></app-blog-category>
  </div>
</div>
