<div class="category-title mb-2">
  <div class="title-text">
    <span *ngIf="titleText">{{titleText}}</span>
  </div>
  <svg class="Rectangle_10">
    <rect id="Rectangle_10" rx="2" ry="2" x="0" y="0" width="50" height="4">
    </rect>
  </svg>
  <svg class="Rectangle_11">
    <rect id="Rectangle_11" rx="2" ry="2" x="0" y="0" width="4" height="4">
    </rect>
  </svg>
  <svg class="Rectangle_12">
    <rect id="Rectangle_12" rx="2" ry="2" x="0" y="0" width="4" height="4">
    </rect>
  </svg>
  <svg class="Rectangle_13">
    <rect id="Rectangle_13" rx="2" ry="2" x="0" y="0" width="4" height="4">
    </rect>
  </svg>
</div>
