<div *ngIf="expert" class="card author-card text-center p-3" routerLink="/expert/{{expert.id}}">
  <img src="{{expert.picture}}" class="img-round author-img mx-auto" alt="Profile">
  <div class="card-body">
    <h5 class="card-title">{{expert.name}}</h5>
    <button class="btn btn-n1ce btn-oval font-size-small px-4 py-2 my-3">Hire (Starting from $80)</button>
    <p class="card-text">{{expert.shortBio}}</p>
    <app-expert-tags *ngIf="expert.expertise" [tags]="expert.expertise"></app-expert-tags>
    <app-expert-social-icons></app-expert-social-icons>
  </div>
</div>
