<ng-container *ngIf="(reviews$ | async) as reviews">
  <div class="card rounded-10 mb-2" *ngFor="let review of reviews">
    <div class="card-body">
      <div class="d-flex">
        <img src="https://static.thenounproject.com/png/363640-200.png" class="img-round user-img" alt="Profile">
        <div class="ml-2 d-flex flex-column">
          <span class="font-weight-bold">{{review.userId}}</span>
          <span>Rating<fa-icon [icon]="['fas', 'star']" class="mx-1 star"></fa-icon>{{review.rating}}/5</span>
        </div>
      </div>
      <p class="mt-2 mb-0 text-muted font-size-14">{{review.comment}}</p>
    </div>
  </div>
</ng-container>
