<div class="mt-3">
  <a href="#" class="color-black mx-1">
    <fa-icon [icon]="['fab', 'facebook-square']"></fa-icon>
  </a>
  <a href="#" class="color-black mx-1">
    <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
  </a>
  <a href="#" class="color-black mx-1">
    <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
  </a>
  <a href="#" class="color-black mx-1">
    <fa-icon [icon]="['fab', 'instagram']"></fa-icon>
  </a>
  <a href="#" class="color-black mx-1">
    <fa-icon [icon]="['fab', 'dribbble']"></fa-icon>
  </a>
</div>
