img.author-img {
  width: 64px;
  height: 64px;
}

.expert-tag {
  color: darkgrey;
  font-size: 13px;
}

span.expert-name {
  color: #05B2B0;
  font-size: 18px;
  font-weight: bold;
}
