<div *ngIf="post" class="card text-white border-0">
  <img src="https://material.angular.io/assets/img/examples/shiba2.jpg" class="card-img clickable" alt="..." routerLink="/post/{{post.id}}">
  <div class="position-absolute v-100 h-100">
    <div class="p-3">
      <h5 class="card-title clickable" routerLink="/post/{{post.id}}">{{post.title}}</h5>
      <p class="card-text article-text clickable" routerLink="/post/{{post.id}}">{{post.snippet}}</p>
    </div>
    <div class="article-footer">
      <div class="pt-3 px-3 pb-0">
        <app-expert-badge-in-evidence *ngIf="post.expertId" [expertId]="post.expertId"></app-expert-badge-in-evidence>
        <div class="card-footer text-white mt-2">
          <span class="font-size-small mr-3" *ngIf="post.publishingTime" timeago [date]="toDate(post.publishingTime)"></span>
          <fa-icon [icon]="currentFavoriteIcon" class="clickable" (click)="setFavorite()"></fa-icon>
        </div>
      </div>
    </div>
  </div>
</div>
