@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

img.img-round {
  border-radius: 50%;
}

img.img-rounded{
  border-radius: 18px;
  margin: 10px;
  width: 95%;
}

.rounded-10 {
  border-radius: 10px;
}

.rounded-18 {
  border-radius: 18px;
}

.bg-n1ce {
  background-color: rgba(5, 178, 176, 1);
}

.btn.btn-n1ce {
  background-color: rgba(5, 178, 176, 1);
  color: white;
  transition: background-color .7s, color .7s;
}

.btn.btn-n1ce:hover {
  background-color: white;
  border: 1px solid rgba(5, 178, 176, 1);
  color: rgba(5, 178, 176, 1);
}

.btn.btn-n1ce-outline {
  background-color: white;
  border: 1px solid rgba(5, 178, 176, 1);
  color: rgba(5, 178, 176, 1);
  transition: background-color .7s, color .7s;
}

.btn.btn-n1ce-outline:hover {
  background-color: rgba(5, 178, 176, 1);
  color: white;
}

.btn.btn-accent {
  background-color: #e7d636;
  color: #444444;
  transition: background-color .7s, color .7s;
}

.btn.btn-accent:hover {
  background-color: white;
  border: 1px solid #e7d636;
  color: rgba(5, 178, 176, 1);
}

.btn.btn-accent-outline {
  background-color: white;
  border: 1px solid #e7d636;
  color: rgba(5, 178, 176, 1);
  transition: background-color .7s, color .7s;
}

.btn.btn-accent-outline:hover {
  background-color: #e7d636;
  color: #444444;
}

.color-black {
  color: black;
}

.color-primary {
  color: rgba(5, 178, 176, 1);
}

.color-accent {
  color: #e7d636;
}

.whitespace-preline {
  white-space: pre-line;
}

.btn.btn-oval {
  border-radius: 50px;
}

.font-size-small {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px;
}

.category #Rectangle_10 {
  transition: width .7s;
}

.category .dot {
  transition: opacity .7s;
}

.category:hover #Rectangle_10 {
  width: 65px;
}

.category:hover .dot {
  opacity: 0;
}

hr.solid {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

[ng-reflect-router-link] {
  cursor: pointer;
}

@media (min-width: 1800px) {
  .container {
    min-width: 1640px;
  }
}
