@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

img.img-round {
  border-radius: 50%;
}

img.img-rounded {
  border-radius: 18px;
  margin: 10px;
  width: 95%;
}

.rounded-10 {
  border-radius: 10px;
}

.rounded-18 {
  border-radius: 18px;
}

.bg-n1ce {
  background-color: #05B2B0;
}

.btn.btn-n1ce {
  background-color: #05B2B0;
  color: white;
  transition: background-color .7s, color .7s;
}

.btn.btn-n1ce:hover {
  background-color: white;
  border: 1px solid #05B2B0;
  color: #05B2B0;
}

.btn.btn-n1ce-outline {
  background-color: white;
  border: 1px solid #05B2B0;
  color: #05B2B0;
  transition: background-color .7s, color .7s;
}

.btn.btn-n1ce-outline:hover {
  background-color: #05B2B0;
  color: white;
}

.btn.btn-accent {
  background-color: #e7d636;
  color: #444444;
  transition: background-color .7s, color .7s;
}

.btn.btn-accent:hover {
  background-color: white;
  border: 1px solid #e7d636;
  color: #05B2B0;
}

.btn.btn-accent-outline {
  background-color: white;
  border: 1px solid #e7d636;
  color: #05B2B0;
  transition: background-color .7s, color .7s;
}

.btn.btn-accent-outline:hover {
  background-color: #e7d636;
  color: #444444;
}

.btn.btn-facebook {
  background-color: #3b5998;
}

.btn.btn-twitter {
  background-color: #6CADDE;
}

.btn.btn-google {
  background-color: #db4a39;
}

.btn.btn-brand {
  color: white;
  width: 55px;
  transition: box-shadow .4s;
}

.btn.btn-brand:hover {
  box-shadow: 2px 2px 5px #aaaaaa;
}

.color-black {
  color: black;
}

.color-primary {
  color: #05B2B0;
}

.color-accent {
  color: #e7d636;
}

.whitespace-preline {
  white-space: pre-line;
}

.btn.btn-oval {
  border-radius: 50px;
}

.font-size-small {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px;
}

.category #Rectangle_10 {
  transition: width .7s;
}

.category .dot {
  transition: opacity .7s;
}

.category:hover #Rectangle_10 {
  width: 65px;
}

.category:hover .dot {
  opacity: 0;
}

.signup-custom-overlay {
  background-color: #05B2B077;
  margin-right: .9rem;
  height: 100%;
  margin-left: .9rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.signup-custom-content {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

h2.signup-custom-title {
  color: white;
}

p.signup-custom-text {
  margin-top: 2rem;
  color: white;
  font-size: 18px;
}

h2.signup-custom-title::after {
  border-bottom: solid 2px white;
  content: "";
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

hr.solid {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

[ng-reflect-router-link] {
  cursor: pointer;
}

.ng-invalid:not(form) {
  border-bottom: 1px solid #a94442 !important; /* red */
}

.ng-invalid:not(form) + .input-group-append .input-group-text{
  border-bottom: 1px solid #a94442 !important; /* red */
}

@media (min-width: 1800px) {
  .container {
    min-width: 1640px;
  }
}

@media screen and (max-width: 991px){
  .signup-custom-overlay {
    border-radius: 0 0 10px 10px;
  }
}
