.example-card {
  max-width: 400px;
}

.article-text {
  color: #888888;
}

.card-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  background-color: transparent;
  padding: 0.5rem .25rem;
}
