<div *ngIf="service" class="card rounded-18">
  <img src="{{service.featuredImg}}" class="card-img-top img-rounded clickable" alt="..." routerLink="/service/{{service.id}}">
  <div class="card-body py-1">
    <h5 class="card-title clickable" routerLink="/service/{{service.id}}">{{service.title}}</h5>
    <hr class="solid"/>
    <app-expert-badge-for-services *ngIf="service.expertId" [expertId]="service.expertId"></app-expert-badge-for-services>
    <div class="card-footer mt-2 font-size-small">
      <span class="font-weight-bold">Starting from ${{service.startingPrice}}</span>
    </div>
  </div>
  <div class="card-body text-right pt-0" *ngIf="showFavIcon">
    <fa-icon [icon]="currentFavoriteIcon" class="clickable" (click)="setFavorite()"></fa-icon>
  </div>
</div>
