<ng-container *ngIf="expert">
  <div class="row">
    <div class="col-12 d-flex">
      <img src="{{expert.picture}}" class="img-round author-img mx-auto" alt="Profile">
      <div class="card-body">
        <h5 class="card-title">{{expert.name}}</h5>
        <p class="card-text">{{expert.shortBio}}</p>
        <app-expert-tags *ngIf="expert.expertise" [tags]="expert.expertise"></app-expert-tags>
        <app-expert-social-icons></app-expert-social-icons>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <hr class="solid">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <app-category-title [titleText]="'Published Posts'"></app-category-title>
      <app-blog-post-list [blogPosts]="articles"></app-blog-post-list>
    </div>
  </div>
</ng-container>
